.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

html {
  margin:0;
  padding:0;
  overflow: hidden;
  background: url() no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  background-color: white !important;
}

.centered {
    display: block !important ;
    margin: auto;

}

.playlist{
     max-height: 75vh;
     overflow-y: scroll;
}

.userBar{
    min-height: 95vh;
    text-align: center;
     max-height: 95vh;
     overflow-y: scroll;


}

a:hover {
 cursor:pointer;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: grey;
}

/* selected link */
a,a:link,a:visited
 {
    color: black;
    text-decoration: none;
}

.text-centered{
    text-align: center !important;
}
.circular {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;

    }

.circularx{border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    width: 200px;
    height: 200px;
    display: block !important ;
    margin: auto;}

.friendName{
    float:right;
     margin-top:-30px;
}

 .littleroundPicture{
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    width: 40px;
    height: 40px;
    display: block !important ;
    }


     .roundPicture{
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        width: 100px;
        height: 100px;
        display: block !important ;
        margin: auto;}

.circular img{
    opacity: 0;
    filter: alpha(opacity=0);
    }


    .playpause{
        margin-top: 11px;
        }


@media screen and (max-width: 1024px) {
    .userBar {
        display: none !important;
    }
    .smallHidden{
        display: none !important;
    }
    .roundPicture{
        display: none !important;
    }

}

.nameTitle{
    margin-top: 6px !important;
    margin-bottom: -4px!important;
    margin-left: 20px!important;
}

.searchedResults{
    color: grey;
}

.signoutButton{
    margin-top: -35px!important;
    margin-bottom: -0px!important;
float: right;
}

.listFriends{
    max-height:  40vh;
     overflow-y:scroll;

}

@media screen and (max-width: 550px) {
    .playlist{
         max-height:  30vh;
          overflow-y:scroll;
    }
    .signoutButton{
        margin-top: -30px!important;
        margin-bottom: -0px!important;
    float: right;
    }


    .circularx{border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        width: 100px;
        height: 100px;
        display: block !important ;
        margin-left: 10px;}

}
